
CardGame/.vs/CardGame/v16/.suo
CardGame/.vs/CardGame/v16/.suo
CardGame/bin/Debug/net5.0/CardGame.deps.json
CardGame/bin/Debug/net5.0/CardGame.dll
CardGame/bin/Debug/net5.0/CardGame.exe
CardGame/bin/Debug/net5.0/CardGame.pdb
CardGame/bin/Debug/net5.0/CardGame.runtimeconfig.dev.json
CardGame/bin/Debug/net5.0/CardGame.runtimeconfig.json
CardGame/bin/Debug/net5.0/ref/CardGame.dll
CardGame/obj/CardGame.csproj.nuget.dgspec.json
CardGame/obj/CardGame.csproj.nuget.g.props
CardGame/obj/CardGame.csproj.nuget.g.targets
CardGame/obj/Debug/net5.0/apphost.exe
CardGame/obj/Debug/net5.0/CardGame.assets.cache
CardGame/obj/Debug/net5.0/CardGame.csproj.AssemblyReference.cache
CardGame/obj/Debug/net5.0/CardGame.csproj.CoreCompileInputs.cache
CardGame/obj/Debug/net5.0/CardGame.csproj.FileListAbsolute.txt
CardGame/obj/Debug/net5.0/CardGame.dll
CardGame/obj/Debug/net5.0/CardGame.GeneratedMSBuildEditorConfig.editorconfig
CardGame/obj/Debug/net5.0/CardGame.genruntimeconfig.cache
CardGame/obj/Debug/net5.0/CardGame.pdb
CardGame/obj/Debug/net5.0/ref/CardGame.dll
CardGame/obj/project.assets.json
CardGame/obj/project.nuget.cache
TestProjectCardGame/bin/Debug/net5.0/CoverletSourceRootsMapping
TestProjectCardGame/obj/Debug/net5.0/TestProjectCardGame.assets.cache
TestProjectCardGame/obj/Debug/net5.0/TestProjectCardGame.GeneratedMSBuildEditorConfig.editorconfig
TestProjectCardGame/obj/project.assets.json
TestProjectCardGame/obj/project.nuget.cache
TestProjectCardGame/obj/TestProjectCardGame.csproj.nuget.dgspec.json
CardGame/.vs/CardGame/v16/.suo
CardGame/bin/Debug/net5.0/CardGame.deps.json
CardGame/bin/Debug/net5.0/CardGame.dll
CardGame/bin/Debug/net5.0/CardGame.exe
CardGame/bin/Debug/net5.0/CardGame.pdb
CardGame/bin/Debug/net5.0/CardGame.runtimeconfig.dev.json
CardGame/bin/Debug/net5.0/CardGame.runtimeconfig.json
CardGame/bin/Debug/net5.0/ref/CardGame.dll
CardGame/obj/CardGame.csproj.nuget.dgspec.json
CardGame/obj/CardGame.csproj.nuget.g.props
CardGame/obj/CardGame.csproj.nuget.g.targets
CardGame/obj/Debug/net5.0/apphost.exe
CardGame/obj/Debug/net5.0/CardGame.assets.cache
CardGame/obj/Debug/net5.0/CardGame.csproj.AssemblyReference.cache
CardGame/obj/Debug/net5.0/CardGame.csproj.CoreCompileInputs.cache
CardGame/obj/Debug/net5.0/CardGame.csproj.FileListAbsolute.txt
CardGame/obj/Debug/net5.0/CardGame.dll
CardGame/obj/Debug/net5.0/CardGame.GeneratedMSBuildEditorConfig.editorconfig
CardGame/obj/Debug/net5.0/CardGame.genruntimeconfig.cache
CardGame/obj/Debug/net5.0/CardGame.pdb
CardGame/obj/Debug/net5.0/ref/CardGame.dll
CardGame/obj/project.assets.json
CardGame/obj/project.nuget.cache
TestProjectCardGame/bin/Debug/net5.0/CoverletSourceRootsMapping
TestProjectCardGame/obj/Debug/net5.0/TestProjectCardGame.assets.cache
TestProjectCardGame/obj/Debug/net5.0/TestProjectCardGame.GeneratedMSBuildEditorConfig.editorconfig
TestProjectCardGame/obj/project.assets.json
TestProjectCardGame/obj/project.nuget.cache
TestProjectCardGame/obj/TestProjectCardGame.csproj.nuget.dgspec.json
